.menu-sidebar{
    .dropdown{
        .has-dropdown{
            display: flex;
            margin-bottom: 0px;
            padding-bottom: 0px;
            padding-right: 0px;
            i{
                display: flex;
                align-items: center;
            }
            a{
                span{
                    padding-left: 10px;
                }
            }
        }
    }
}