.pageaddtour{
    width: 100%;
    height: auto;
    .form{
        width: 100%;
        height: auto;
        .btn_submitForm {
            margin-bottom: 30px; 
        }
        .form-group-input-file{
            display: flex;
        }
        legend{
            display: flex;
            padding-top: 100px;
            padding-left: 200px;
        }
        .form_{
            padding: 0 200px;
            .img_tour{
                width: 90px;
                height: 50px;
                padding-top: 10px;
                img {
                    width: 100%;
                }
            }
            .text-muted{
                color:  red !important;
            }

            .text-success {
              color: green !important
            }
        }
    }
}
